
.pageContainer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  position: relative;
}

.spineSpritesChooseContainer{
  max-width: 400px;
  width: 100%;
  height: 100%;
  border-right: 1px solid #3e3e42;
  padding: 24px 12px;
}

.spineSpritesViewContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  overflow: hidden;
}

.actionContainer{
  width: 100%;
  height: 100%;
  min-height: 100px;
  max-height: 100px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.pixiViewContainer{
  flex: 1;
  min-height: 0;
  width: 100%;
  padding: 12px 24px
}

.bottomManagePanelContainer{
  width: 100%;
  height: 100%;
  min-height: 100px;
  max-height: 100px;
}