.fileUploadContainer{
  flex: 1;
  max-width: 30%;
  border-right: 1px solid #3e3e42;
  height: 100%;
  padding: 24px 12px;
}

.fileListContainer{
  flex: 1;
  max-width: 70%;
  height: 100%;
  padding: 24px 12px;
}
